<!DOCTYPE html>
<html>

<head>
    <title>Matching</title>
</head>

<body>
    <h1>Matching</h1>
    <p>{{ matching }}</p>
    <img src="{{url_for('static', filename='img/comp_peaks_scatter.png')}}" />
    <img src="{{url_for('static', filename='img/ref_peaks_scatter.png')}}" />
</body>

</html>