<!DOCTYPE html>
<html>

<head>
    <title>Peaks</title>
</head>

<body>
    <h1>Peaks</h1>
    <img src="{{url_for('static', filename='img/test_peaks.png')}}" />
    <img src="{{url_for('static', filename='img/test_peaks_scatter.png')}}" />
</body>

</html>