<!DOCTYPE html>
<html>

<head>
    <title>Spectrogram</title>
</head>

<body>
    <h1>Spectrogram</h1>
    <img src="{{url_for('static', filename='img/test1.png')}}" />
    <img src="{{url_for('static', filename='img/test2.png')}}" />
</body>

</html>